{% extends 'base_answer_for_test.html.twig' %}
{% form_theme form 'custom_style_bootstrap.html.twig' %}

{% block title %}
    {% if not app.user %}
        {% if survey.status=="Ouvert" %}
            {{ survey.title }}
        {% else %}
            {% if not survey.closingmessage %}
                Erreur. Page introuvable.
            {% else %}
                {{ survey.closingmessage }}
            {% endif %}
        {% endif %}
    {% else %}
        {{ survey.title }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if not app.user %}
        {% if survey.status=="Ouvert" %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
    <h1>{{ survey.title }}</h1>
    <p tabindex="0">Consigne donnée :</p>
    {{ survey.question }}
    <h2>Liste des composants techniques à tester :</h2>
    {% for technicalComponent in survey.technicalComponents %}
        <h3>Composant technique n°{{ loop.index }}. {{ technicalComponent.title }}</h3>
            {% if technicalComponent.choice > 0 %}
                {{ technicalComponent.code }}
            {% else %}
                <p>
                    <a target="_blank" href="{{ path('answer_technicalcomponent', {'id': technicalComponent.id }) }}">{{ technicalComponent.url }}</a>
                </p>
            {% endif %}
    {% endfor %}
    <fieldset>
        <legend>
            <h2>Réponses proposées :</h2>
            <p>{{ survey.multiple ? '(plusieurs réponses possibles).' : '(une seule réponse possible).' }}</p>
        </legend>
        <ol id="idOlAnswer">
            {% for proposition in form.propositions %}
                {{ form_widget(proposition) }}
                {{ form_label(proposition) }}</br> 
            {% endfor %}
        </ol>
    </fieldset>
    <fieldset>
        <legend>
            <h2>Informations complémentaires :</h2>
        </legend>
        {{ form_row(form.comment) }}
        {{ form_row(form.email) }}
    </fieldset>
    <fieldset>
        <legend>
            <h2>Aides techniques utilisées :</h2>
            <p>Sélectionner les aides techniques que vous avez utilisées pendant ce test.</p>
        </legend>
        {% for category in categories %}
            <fieldset>
                <legend>
                    <h3>{{ category.type }}</h3>
                </legend>    
                {% for assistive in category.assistives %}
                    {% set key = assistive.id %}
                    {{ form_row(form.assistives[key]) }}
                {% endfor %}            
            </fieldset>
        {% endfor %}
    </fieldset>
    <hr>
    <fieldset>
        {{ form_row(form.accept) }}
        {{ form_row(form.save) }}
    </fieldset>
{{ form_end(form) }}
        {% else %}
            {% if not survey.closingmessage %}
                <p>Erreur. Page introuvable.</p>
            {% else %}
                {{ survey.closingmessage }}
            {% endif %}
        {% endif %}
    {% else %}
        {% include 'partials/form_answer.html.twig' %}
    {% endif %}
    <script>

    function addNumberList() {
        let idOlAnswer = document.getElementById("idOlAnswer");
        let tablabels = idOlAnswer.getElementsByTagName("label");
        for (let i=0;i<tablabels.length;i++) {
            tablabels[i].innerHTML=i+1 + ". " + tablabels[i].textContent;
        }
    }
    addNumberList();

    </script>
{% endblock %}