{% extends 'base.html.twig' %}

{% block title %}Gestion des réponses{% endblock %}

{% block body %}
    <h1>Gestion des réponses</h1>
    {% if answers %}
        <table class="table table-bordered table-dark">
            <thead class="thead-light">
                <th>N° réponse</th>
                <th>Date réalisation</th>
                <th>Proposition</th>
                <th>Commentaire</th>
                <th>Contact</th>
                <th>Appareil</th>
                <th>Configuration</th>
                <th>Navigateur</th>
                <th>Technologies d'assistance</th>
                <th>Pour en savoir plus sur les données techniques</th>
                <th>Supprimer</th>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.id }}</td>
                        <td>{{ answer.createdat|date("d/m/Y H:i") }}</td>
                        <td>
                            <ol>
                                {% for proposition in answer.propositions %}
                                    <li>{{ proposition.wording }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>{{ answer.comment }}</td>
                        <td>{{ answer.email }}</td>
                        <td>{{ answer.deviceType }}</td>
                        <td>{{ answer.osName }}</td>
                        <td>{{ answer.browserName }}</td>
                        <td>
                            <ul>
                                {% for assistive in answer.assistives %}
                                    <li>{{ assistive.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ answer.userAgent }}</td>
                        <td><a class="btn btn-warning" onclick="return confirm('êtes-vous sûr de vouloir supprimer cette réponse?');" href="{{ path('answer_delete', {'id': answer.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    {% else %}
        <p>Aucune réponse enregistrée.</p>
    {% endif %}
{% endblock %}