{% extends 'base.html.twig' %}

{% block title %}Création d'un sondage{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1>Ajouter un nouveau sondage</h1>
        <fieldset>
            <legend>
                <h2>Informations générales sur le sondage :</h2>
            </legend>
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.status) }}
                {{ form_widget(form.status) }}
            </div>
            <div class="form-group">
                {{ form_row(form.closing_message) }}
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h2>Question :</h2>
            </legend>
            <div class="form-group">
                {{ form_row(form.question) }}
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <h3>Liste des composants techniques :</h3>
            </legend>
            <ol id="idOlComponent" class="technicalComponents" data-prototype="{{ form_widget(form.technicalComponents.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing proposition and render its only field: wording #}
                {% for technicalComponent in form.technicalComponents %}
                    <li>
                        {{ form_row(technicalComponent.title) }}
                        {{ form_row(technicalComponent.choice) }}
                        {{ form_row(technicalComponent.code) }}
                        {{ form_row(technicalComponent.url) }}
                    </li>
                {% endfor %}
            </ol>
            <div id="add_buttoncomponent"></div>
        </fieldset>
        <fieldset>
            <legend>
                <h2>Réponses :</h2>
            </legend>
            <div class="form-group">
                {{ form_row(form.multiple) }}
            </div>
            <ol id="idOlProposition" class="propositions" data-prototype="{{ form_widget(form.propositions.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing proposition and render its only field: wording #}
                {% for proposition in form.propositions %}
                    <li>
                        {{ form_row(proposition.wording) }}
                    </li>
                {% endfor %}
            </ol>
            <div id="add_button"></div>
        </fieldset>
        <button type="submit">Ajouter le sondage</button>
    {{ form_end(form) }}
<script src="{{ asset('_js/formCollectionTypeClass.js') }}"></script>
<script>

var cpt=1;
function proposition() {
	let proposition = new FormCollectionTypeClass("idOlProposition","add_button","Supprimer cet élément","Ajouter une nouvelle proposition",cpt,"<h4>","Composant","</h4>");
}
proposition();

var cp=1;
function component() {
	let component = new FormCollectionTypeClass("idOlComponent","add_buttoncomponent","Supprimer cet élément","Ajouter un nouveau composant",cp,"<h4>","Composant","</h4>");
}
component();

/*
function test() {
    let olComponent=document.getElementById("idOlComponent");
    
    let tabli = olComponent.getElementsByTagName("li");
    for (let i=0;i<tabli.length;i++) {
        let tabradio = tabli[i].querySelector("technicalComponents#");
        console.log(tabradio);
    }
    let code = document.getElementById("technicalComponents_0_choice_0");
    let url = document.getElementById("technicalComponents_0_choice_1");
    code.addEventListener("click",()=>affichercode(),false);
    url.addEventListener("click",()=>afficherurl(),false);
    var tab = idOlComponent.querySelectorAll("input[type=radio]" > div);
    console.log(tab);
    
    var test = olComponent.querySelectorAll(div > li);
    console.log(test);
}
test();
*/
</script>

{% endblock %}