{% extends 'base.html.twig' %}
{% form_theme form 'custom_style_bootstrap.html.twig' %}

{% block title %}
    {{ id ? 'Modification du sondage' : 'Création d\'un nouveau sondage' }}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}
        <h1>{{ id ? 'Modification du sondage' : 'Création d\'un nouveau sondage' }}</h1>
        <fieldset>
            <legend>
                <h2>Informations générales</h2>
            </legend>
            {{ form_row(form.title) }}        <p>
            {{ form_label(form.status) }}
            <ul>
                {% for statu in form.status %}
                    <li>
                        {{ form_widget(statu) }}
                        {{ form_label(statu) }}
                    </li>
                {% endfor %}
            </ul>
            {{ form_row(form.closing_message) }}
        </fieldset>
        <fieldset>
            <legend>
                <h2>Question</h2>
            </legend>
            {{ form_row(form.question) }}
        </fieldset>
        <fieldset>
            <legend>
                <h3>Liste des composants techniques</h3>
            </legend>
            <ol id="idOlComponent" class="technicalComponents" data-prototype="{{ form_widget(form.technicalComponents.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing proposition and render its only field: wording #}
                {% for technicalComponent in form.technicalComponents %}
                    <li>
                        {{ form_row(technicalComponent.title) }}
                        {{ form_row(technicalComponent.choice) }}
                        {{ form_row(technicalComponent.code) }}
                        {{ form_row(technicalComponent.url) }}
                    </li>
                {% endfor %}
            </ol>
            <div id="add_buttoncomponent"></div>
        </fieldset>
        <fieldset>
            <legend>
                <h2>Réponses</h2>
            </legend>
            {{ form_row(form.multiple) }}
            <ol id="idOlProposition" class="propositions" data-prototype="{{ form_widget(form.propositions.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing proposition and render its only field: wording #}
                {% for proposition in form.propositions %}
                    <li>
                        {{ form_row(proposition.wording) }}
                    </li>
                {% endfor %}
            </ol>
            <div id="add_button"></div>
        </fieldset>
        <button class="btn btn-primary" type="submit">
            {{ id ? 'Modifier le sondage' : 'Créer le sondage' }}</h1>
        </button>
    {{ form_end(form) }}
<script src="{{ asset('_js/formCollectionTypeClass.js') }}"></script>
<script>

function proposition() {
	let proposition = new FormCollectionTypeClass("idOlProposition","add_button","Retirer cette proposition de réponse","Ajouter une proposition de réponse","<h4>","Composant","</h4>");
}
proposition();

function component() {
    let component = new FormCollectionTypeClass("idOlComponent","add_buttoncomponent","Retirer ce composant technique","Ajouter un composant technique","<h4>","Composant technique","</h4>");
}
component();
        
</script>

{% endblock %}