{% extends 'base.html.twig' %}

{% block title %}Gestion des sondages{% endblock %}

{% block body %}
    <h1>Gestion des sondages</h1>
    <p>
        <a class="btn btn-info" href="{{ path('survey_edit', {'id': 0}) }}">Créer un nouveau sondage</a>
    </p>
    {% if surveys %}
        <table class="table table-bordered table-dark">
            <thead class="thead-light">
                <th scope="col">Titre</th>
                <th scope="col">Statut</th>
                <th scope="col">Date création _ date clôture</th>
                <th scope="col">Consulter</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
                <th scope="col">Résultats obtenus (nb participants au sondage)</th>
                <th scope="col">Gestion des réponses</th>
                <th scope="col">Version grand public</th>
            </thead>
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <th scope="row">{{ survey.title }}</th>
                    <td>{{ survey.status }}</td>
                    <td>
                        {{ survey.createdat|date("d/m/Y H:i") }}
                        {% if survey.status=="Fermé" %}
                           – {{ survey.closedat|date("d/m/Y H:i") }}
                        {% elseif survey.status=="Brouillon" %}
                            – En cours de création
                        {% elseif survey.status=="Ouvert" %}
                            – En cours de soumission
                        {% endif %}
                    </td>
                    <td><a class="btn btn-light" href="{{ path('survey_show', {'id': survey.id}) }}">Voir</a></td>
                    <td><a class="btn btn-info" href="{{ path('survey_edit', {'id': survey.id}) }}">Modifier (MAJ {{ survey.updatedat|date("d/m/Y H:i") }})</a></td>
                    <td><a class="btn btn-warning" onclick="return confirm('êtes-vous sûr de vouloir supprimer ce sondage?');" href="{{ path('survey_delete', {'id': survey.id}) }}">Supprimer</a></td>
                    <td><a class="btn btn-info" href="{{ path('survey_result', {'id': survey.id}) }}">Voir les résultats ({{ survey.answers|length }})</a></td>
                    <td><a class="btn btn-light" href="{{ path('answer_list', {'id': survey.id}) }}">Gérer</a></td>
                    <td>
                        <a target="_blank" class="btn btn-light" id="idLink" href="{{ path('answer_survey', {'id': survey.id}) }}">Répondre</a>
                        {% if survey.status=="Ouvert" %}
                            <input type="text" id="idurl" value="{{ url('answer_survey', {'id': survey.id}) }}">
                        {% else %}
                            <input type="text" id="idurl" value="{{ url('answer_survey', {'id': survey.id}) }}" disabled>
                        {% endif %}
                    </td>                            
                </tr>
            {% endfor %}
            </tbody>    
        </table>
    {% else %}
        <p>Aucun sondage créé.</p>
    {% endif %}
{% endblock %}