{% extends 'base.html.twig' %}

{% block title %}
    Résultats du sondage {{ survey.title }}
{% endblock %}

{% block body %}
    <h1>Résultats du sondage {{ survey.title }}</h1>
    <div id="idtest"></div>
    <div class='form-group'>
        <p>Rappel : {{ survey.question }}</p>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <caption>
            <h2>1 - Synthèse des résultats</h2>
        </caption>
        <tr>
            <th>Proposition</th>
            <th>Résultat</th>
        </tr>
        {% for proposition in survey.propositions %}
            <tr>
                <td>{{ proposition.wording }}</td>
                <td>{{ proposition.answers|length }}</td>
            </tr>
        {% endfor %}
        </table>
        <h2>Synthèse</h2>
        <div id="iddivselects">             
            <label for="proposition_id">proposition_id :</label>
            <select aria-label="Filtrer par proposition" id="proposition_id"></select>
            <label for="answer_id">answer_id :</label>
            <select aria-label="Filtrer par answer" id="answer_id"></select>
            <label for="answer_device_type">device_type :</label>
            <select aria-label="Filtrer par device" id="answer_device_type"></select>
            <label for="answer_os_name">osöname :</label>
            <select aria-label="Filtrer par os" id="answer_os_name"></select>
            <label for="answer_browser_name">browser_name :</label>
            <select aria-label="Filtrer par browser" id="answer_browser_name"></select>
            <label for="assistive_id">assistive_name :</label>
            <select aria-label="Filtrer par assistive" id="assistive_id"></select>
        </div>
        <script>

function getXmlhttp() {
	if (window.XMLHttpRequest)
		return new XMLHttpRequest();
	else if (window.ActiveXObject)
		return new ActiveXObject("Msxml2.XMLHTTP");
	else
		throw new Error("Could not create HTTP request object.");
}

//select param_ajax
function select_ajax(value,label) {
    var x = value.substring(value.indexOf("_")+1, value.length);  
    var para ="survey={{ survey.id }}&" + value + "=" + x;
    xmlhttp=getXmlhttp();
    xmlhttp.open("GET","http://127.0.0.1:8000/ajax?"+para,true);
    xmlhttp.onreadystatechange=mafonction;
    xmlhttp.send();
    function mafonction() {
        if (this.readyState==4 && this.status==200) {
            var result = JSON.parse(this.responseText);
            console.log(result);
            let parent = document.getElementById(value);        
            if (result[value].length>1) {
                opt=document.createElement("option");
                opt.innerHTML="all " + value;
                opt.value=value;
                parent.appendChild(opt);                   
            } else {
                parent.disabled="true";
            }
            for (let i=0;i<result[value].length;i++) {
                opt=document.createElement("option");
                
                if (label!=null)
                    opt.innerHTML=label + result[value][i][x];
                else
                    opt.innerHTML=result[value][i][x];
                
                opt.value=result[value][i][x];
                parent.appendChild(opt);   
            }
        }
    }
}
select_ajax("proposition_id",null);
select_ajax("answer_id","answer n°");
select_ajax("answer_device_type",null);
select_ajax("answer_os_name",null);
select_ajax("answer_browser_name",null);
select_ajax("assistive_id",null);
       </script>
{% endblock %}