{% extends 'base.html.twig' %}

{% block title %}
    Résultats du sondage {{ survey.title }}
{% endblock %}

{% block body %}
    <h1>Résultats du sondage {{ survey.title }}</h1>
    <div id="idtest"></div>
    <div class='form-group'>
        <p>Rappel : {{ survey.question }}</p>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <caption>
            <h2>1 - Synthèse des résultats</h2>
        </caption>
        <tr>
            <th>Proposition</th>
            <th>Résultat</th>
        </tr>
        {% for proposition in survey.propositions %}
            <tr>
                <td>{{ proposition.wording }}</td>
                <td>{{ proposition.answers|length }}</td>
            </tr>
        {% endfor %}
        </table>
        <h2>Synthèse</h2>
        <div id="iddivselects"> 
            <label for="answer_id">answer_id :</label>
            <select aria-label="Filtrer par answer" id="id">
            </select>
            <label for="device_type">device_type :</label>
            <select aria-label="Filtrer par device" id="device_type">
            </select>
            <label for="os_name">osöname :</label>
            <select aria-label="Filtrer par os" id="os_name">
            </select>
            <label for="browser_name">browser_name :</label>
            <select aria-label="Filtrer par browser" id="browser_name">
            </select>
        </div>
        <script src="{{ asset('_js/selectTableAjaxClass.js') }}"></script>
        <script src="{{ asset('_js/oxhttp.js') }}"></script>
        <script>

        /*
        function selectTableAjax() {
           var parameter="survey={{ survey.id }}";
           let selectTableAjax = new SelectTableAjaxClass("iddivselects",parameter);           
        }
        selectTableAjax();

        
        function myFunction(e) {
            let result=JSON.parse(e);
            //console.log(result.length);
            
            
            var id = document.getElementById("id");
            for (let i=0;i<result.id.length;i++) {   
                opt=document.createElement("option");
                opt.innerHTML="answer " + result.id[i].id;
                opt.value=result.id[i].id;
                id.appendChild(opt);   
            }
            
            
            /*
            var os_name = document.getElementById("os_name");
            for (let i=0;i<result.os_name.length;i++) {   
                opt=document.createElement("option");
                opt.innerHTML=result.os_name[i].os_name;
                opt.value=result.os_name[i].os_name;
                os_name.appendChild(opt);   
            }
            
            
            var s = document.getElementById("os_name");
            for (let i=0;i<result.length;i++) {   
                opt=document.createElement("option");
                opt.innerHTML=result[i].os_name;
                opt.value=result[i].os_name;
                s.appendChild(opt);   
            }
            var y = document.getElementById("browser_name");
            for (let i=0;i<result.length;i++) {   
                opt=document.createElement("option");
                opt.innerHTML=result[i].browser_name;
                opt.value=result[i].browser_name;
                y.appendChild(opt);   
            }
            
            
        }
        */
       </script>
{% endblock %}