{% extends 'base.html.twig' %}

{% block title %}
    Consultation
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>{{ survey.title }}</h1>
    <div class='form-group'>
        <p>Consigne donnée :</p>
        <p>{{ survey.question }}</p>
    </div>
    <div class='form-group'>
        <h2>Liste des composants techniques à tester :</h2>
        {% for technicalComponent in survey.technicalComponents %}
            <h3>Composant technique n°{{ loop.index }}. {{ technicalComponent.title }}</h3>
            {% if technicalComponent.choice > 0 %}
                <p><a href="{{ technicalComponent.url }}">{{ technicalComponent.url }}</a></p>
            {% else %}
                {{ technicalComponent.code }}
            {% endif %}
        {% endfor %}
    </div>
    <div class='form-group'>
        <h2>Réponses proposées :</h2>
        <p>{{ survey.multiple ? '(plusieurs réponses possibles).' : '(une seule réponse possible).' }}</p>
        {{ form_widget(form.propositions) }}
    </div>
    <div class='form-group'>
        {{ form_row(form.comment) }}
    </div>
        {{ form_row(form.email) }}
    <div class='form-group'>
    </div>
    <div class='form-group'>
    </div>
    <div class='form-group'>
        <h2>Aides techniques utilisées :</h2>
        <p>Quelle(s) aide(s) technique(s) avez-vous utilisé pendant ce test?</p>
    </div>
    <div class="form-group">
        {{ form_row(form.accept) }}
    </div>
    <div class='form-group'>
        <hr>
        <input class="btn btn-success" type="submit" name="btSubmit" value="Enregistrer ma réponse" />
    </div>
    {% for assistive in form.assistives %}
        {{ form_widget(assistive.name) }}
    {% endfor %}
    {{ form_end(form) }}
    <div class='form-group'>
        <hr>
        <a role="button" class="btn btn-info" href="">Modifier</a>
        <a role="button" class="btn btn-danger" href="">Supprimer</a>
        <a role="button" class="btn btn-info" href="{{ path('survey_list') }}">Retour aux autres sondages</a>
    </div>
{% endblock %}