<h1>{{ survey.title }}</h1>
<div class="question">
    <h2>Question</h2>
    <p>{{ survey.question }}</p>
    {% if survey.information %}
        <p>{{ survey.information }}</p>
    {% endif %}
</div>
{% if survey.needComponent > 0 %}
    <div class="components">
        {% if survey.technicalComponents|length > 1 %}
            <h2>Liste des composants techniques</h2>
        {% endif %}
        {% for technicalComponent in survey.technicalComponents %}
            <h3>{{ technicalComponent.title }}</h3>
            {% if technicalComponent.description %}
                {{ technicalComponent.description }}
            {% endif %}
            {% if technicalComponent.choice > 0 %}
                {{ technicalComponent.code|raw }}
            {% else %}
                <p>
                    {% if app.request.attributes.get('_route') == "answer_survey" %}
                        <a target="_blank" href="{{ path('answer_technicalcomponent', {'entity': 'repondre', 'action': 'sondage', 'id': technicalComponent.id }) }}">Voir le composant technique</a>
                    {% else %}
                        <a target="_blank" href="{{ path('answer_technicalcomponent', {'entity': 'sondage', 'action': 'consultation', 'id': technicalComponent.id }) }}">Voir le composant technique</a>
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <fieldset>
        <legend>
            <h2>Réponses proposées</h2>
            <p>{{ survey.multiple ? 'Choisissez au moins une proposition de réponse (plusieurs réponses possibles).' : 'Choisissez une proposition de réponse (une seule réponse possible).' }}</p>
        </legend>
        {{ form_errors(form.propositions) }}
        {% if form.propositions %}
            <ol id="idOlAnswer">
                {% for proposition in form.propositions %}
                    {{ form_widget(proposition) }}
                    {{ form_label(proposition) }}
                {% endfor %}
            </ol>
        {% else %}
            <p>Aucune proposition de réponse n'a été ajoutée au sondage.</p>
        {% endif %}
    </fieldset>
    {% if survey.showAssistive > 0 %}
        <fieldset>
            <legend>
                <h2>Aides techniques utilisées</h2>
                <p>Sélectionner les aides techniques que vous avez utilisées pendant ce test.</p>
            </legend>
            {{ form_errors(form.assistives) }}
            {% if categories %}
                {% for category in categories %}
                    <fieldset>
                        <legend>
                            <h3>{{ category.type }}</h3>
                        </legend>    
                        {% for assistive in category.assistives %}
                            {% set key = assistive.id %}
                            {{ form_label(form.assistives[key]) }}
                            {{ form_widget(form.assistives[key]) }}
                        {% endfor %}            
                    </fieldset>
                {% endfor %}
            {% else %}
                <p>Aucune technologie d'assistance n'a été enregistrée dans l'application.</p>
            {% endif %}
            </fieldset>
        {% endif %}
        <fieldset>
            <legend>
                <h2>Informations complémentaires</h2>
            </legend>
            {{ form_row(form.comment) }}
            {{ form_row(form.email) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.accept) }}
            {{ form_widget(form.accept) }}
        </fieldset>
        <button class="btn btn-primary" type="submit">
            Envoyer mes réponses
        </button>
{{ form_end(form) }}