<nav role="navigation" aria-label="Menu principal" class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('user_list') }}" class="nav-link">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('survey_list') }}" class="nav-link">Sondages</a>
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            </ul>
        {% endif %}
    </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}