{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<button onclick="add()">Ajouter une proposition</button>
{# templates/task/new.html.twig #}

{# ... #}

{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ol id="idOlProposition" class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.tags %}
            <li id="idLi">
                {{ form_row(tag.name) }}
            </li>
        {% endfor %}
    </ol>
    <button type="submit">Valider</button>
{{ form_end(form) }}

{# ... #}
<script>

var cpt=1;
function add() {
    let olProposition = document.getElementById("idOlProposition");
    var data = olProposition.getAttribute("data-prototype");
    data = data.replace(/__name__/g, cpt++);
    let x = document.createElement("li");
    x.innerHTML=data;
    let btSup = document.createElement("button");
    btSup.innerHTML="Supprimer";
    btSup.addEventListener("click", function(){
        olProposition.removeChild(x);
        olProposition.style.counterReset=cpt;
        x.style.counterIncrement=cpt;
        //x.style.content=counter(cpt);
    });
    x.appendChild(btSup);
    olProposition.appendChild(x);
}


</script>
<script src="_js/form.js"></script>

{% endblock %}
