{% extends 'base.html.twig' %}

{% block title %}Technologies d'assistance{% endblock %}

{% block body %}
        {{ form_start(form) }}
            <fieldset>
                <legend>
                    <h1>Ajouter un nouveau type de technologie d'assistance</h1>
                </legend>
                <div class="form-group">
                    {{ form_row(form.type) }}
                </div>
                <ol id="idOlAssistive" class="assistives" data-prototype="{{ form_widget(form.assistives.vars.prototype)|e('html_attr') }}">
                {% for assistive in form.assistives %}
                    <li>
                        {{ form_row(assistive.name) }}
                    </li>
                {% endfor %}
            </ol>
            <div id="add_button"></div>
            </fieldset>
            <button type="submit">Enregistrer</button>
        {{ form_end(form) }}
<script src="{{ asset('_js/formCollectionTypeClass.js') }}"></script>
<script>

function assistive() {
	let assistive = new FormCollectionTypeClass("idOlAssistive","add_button","Supprimer cet élément","Ajouter une technologie d'assistance","<h4>","Composant","</h4>");
}
assistive();

</script>
{% endblock %}